[Desktop Entry]
Encoding=UTF-8
Name=XBoard (Jose style)
Type=Application
Comment=XBoard pieces, converted|to TTF with potrace.|  by Elmar Bartel
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess

