[Desktop Entry]
Encoding=UTF-8
Name=FantasySVG
Type=Application
Comment=Fantasy SVG theme,|  by Maurizio Monge
X-Tagua-Variants=Chess[default], Shogi
