[Desktop Entry]
Encoding=UTF-8
Name=Prmi
Type=Application
Comment=Prmi (cats) SVG theme,|  by Maurizio Monge
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess
