[Desktop Entry]
Encoding=UTF-8
Name=Enquil
Type=Application
Comment=Eboard's Enquil theme,|converted to TTF|with potrace.|  (unknown author)
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess
