[Desktop Entry]
Encoding=UTF-8
Name=Shogi
Type=Application
Comment=Shogi figurines
X-Tagua-ThemeType=Figurines
X-Tagua-Variants=Shogi,LargeShogi[default],ToriShogi[default]
