[Desktop Entry]
Encoding=UTF-8
Name=Berlin (Jose style)
Type=Application
Comment=Berlin TTF theme,|as Jose's default.|  by Eric Bentzen
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess
