[Desktop Entry]
Encoding=UTF-8
Name=XiangQi
Type=Application
Comment=XiangQi TTF theme,|  created with potrace
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=XiangQi[default],Chess

