[Desktop Entry]
Encoding=UTF-8
Name=Default
Type=Application
Comment=Default squares
X-Tagua-ThemeType=Controls
X-Tagua-Variants=ChainReaction[default]
