[Desktop Entry]
Encoding=UTF-8
Name=Alpha (Jose style)
Type=Application
Comment=Alpha TTF theme.|  by Eric Bentzen
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess
