[Desktop Entry]
Encoding=UTF-8
Name=Alpha (BabasChess style)
Type=Application
Comment=Alpha TTF theme,|as BabasChess's default.|  by Eric Bentzen
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess
