[Desktop Entry]
Encoding=UTF-8
Name=White/Black
Type=Application
Comment=Shogi TTF theme,|  created with potrace
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess,Shogi[default]
