[Desktop Entry]
Encoding=UTF-8
Name=Red/Blue
Type=Application
Comment=Red/Blue SVG stones|  by Maurizio Monge
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=ChainReaction[Default]
