[Desktop Entry]
Encoding=UTF-8
Name=Spatial
Type=Application
Comment=Spatial SVG theme,|  by Maurizio Monge
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess
