[Desktop Entry]
Encoding=UTF-8
Name=ShogiSVG
Type=Application
Comment=Shogi SVG theme,|  created with potrace from ???
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess,Shogi
