[Desktop Entry]
Encoding=UTF-8
Name=Lucena (Jose style)
Type=Application
Comment=Lucena TTF theme.|  by Armando H. Marroquin
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess
