[Desktop Entry]
Encoding=UTF-8
Name=Maya (Jose style)
Type=Application
Comment=Maya TTF theme.|  by Armando H. Marroquin
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess
