[Desktop Entry]
Encoding=UTF-8
Name=Yahoo
Type=Application
Comment=Yahoo pieces, converted|to TTF with potrace.|  (unknown author)
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess
