[Desktop Entry]
Encoding=UTF-8
Name=kboard
Exec=kboard %i %m -caption "%c"
Icon=kboard
Type=Application
DocPath=kboard/kboard.html
Comment=A KDE chessboard
Terminal=false
