[Desktop Entry]
Encoding=UTF-8
Name=kboard
Exec=kboard %i %m -caption "%c"
Icon=kboard
Type=Application
DocPath=kboard/kboard.html
Comment=A KDE chessboard
Comment[ar]=لعبة الشطرنج لِــ KDE
Comment[bg]=Шах за KDE
Comment[da]=Et skakbræt for KDE
Comment[de]=Ein KDE Schachbrett
Comment[el]=Ένα σκάκι για το KDE
Comment[es]=Un tablero de ajedrez para KDE
Comment[ga]=Clár fichille KDE
Comment[it]= Una scacchiera KDE
Comment[nl]=Een KDE-schaakbord
Comment[pt]=Um tabuleiro de xadrez para o KDE
Comment[pt_BR]=A tabuleiro de xadrez para o KDE 
Comment[sv]=Ett schackbräde för KDE
Terminal=false
