[Desktop Entry]
Encoding=UTF-8
Name=Tagua
Name[it]=Tagua
Name[xx]=xxTaguaxx
Exec=tagua %i %m -caption "%c"
Icon=tagua
Type=Application
DocPath=tagua/tagua.html
Comment=A generic board game application.
Terminal=false

