[Desktop Entry]
Encoding=UTF-8
Name=ToriShogiTTF
Type=Application
Comment=Tori Shogi TTF theme
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=ToriShogi[default]
