[Desktop Entry]
Encoding=UTF-8
Name=Shogi SVG/TTF
Type=Application
Comment=Shogi TTF theme from SVG files
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess,Shogi[default]
