[Desktop Entry]
Encoding=UTF-8
Name=Skulls
Type=Application
Comment=Skulls SVG theme,|  by Maurizio Monge
X-Tagua-ThemeType=Pieces
X-Tagua-Variants=Chess
